*{
	padding: 0px;
	margin: 0px,
	font-family: arial, sans-serif;
}

header{
	hight: 100px;
	background-color: #2E2E2E;
	border-radius: 8px;
}

body{
	width: 800px;
	background-color: #A4A4A4;
	margin: 15px auto;
}

header h1{
	font-family: arial;
	font-style: italic;
	padding-left: 75px;
	padding-top: 25px;
	color: #0B0B61;
	font-size: 30pt;
	text-shadow: white 1px 1px 4px;
}

header h2{
	font-family: arial;
	font-style: italic;
	padding-left: 500px;
	padding-bottom: 5px;
	color: #0B0B61;
	font-size: 18pt;
	text-shadow: white 1px 1px 4px;;
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline;
	background-color: #2E2E2E;
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: white 3px outset;
	border-radius: 5px;
	font-weight: bold;
	color: #0B0B61;
	cursor: default;
}

nav{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

nav a{
	margin-right: 80px;
	text-decoration: none;
	color: white;
	text-shadow: white 0px 0px 4px;
}

nav li:hover{
	border: white 3px inset;
}

nav a:hover{
	color: white;
	text-decoration: none;
	text-shadow: none;
	text-shadow: white 0px 0px 3px;
}

section{
	width: 600px;
	float: left;
}

article{
	margin-right: 20px;
	margin-bottom: 20px;
	border: white 3px groove;
	text-align: left;
	padding: 20px;
	border-radius: 8px;
	background-color: #2E2E2E;
}

article h2{
	font-size: 16pt;
	color: white;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-weight: bold;
}

article p{
	font-size: 12;
	color: white;
	padding-bottom: 10px;
}

aside{
	text-align: center;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 180px;
	float: right;
	color: white;
	background-color: #2E2E2E;
	border-radius: 8px;
	border: white 3px groove;
}

aside h3{
	font-size: 16pt;
	padding-bottom: 10px;
	padding-top: 25px;
	font-variant: small-caps;
	font-style: italic;
}

aside p{
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	color: #E6E6E6;
}

footer{
	clear: both;
	background-color: #2E2E2E;
	padding: 5px;
	text-align: center;
	color: #0B0B61;
	border-radius: 8px;
}

footer p{
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
	text-shadow: white 0px 0px 4px;;
}
